In [1]:
import pandas as pd
inventory = pd.read_csv("inventory.csv")
inventory.head(10)

        location  product_type         product_description  quantity  price
0  Staten Island         seeds                       daisy         4   6.99
1  Staten Island         seeds                  calla lily        46  19.99
2  Staten Island         seeds                      tomato        85  13.99
3  Staten Island  garden tools                        rake         4  13.99
4  Staten Island  garden tools                 wheelbarrow         0  89.99
5  Staten Island  garden tools                       spade        93  19.99
6  Staten Island  pest_control               insect killer        74  12.99
7  Staten Island  pest_control                 weed killer         8  23.99
8  Staten Island       planter  20 inch terracotta planter         0  17.99
9  Staten Island       planter      8 inch plastic planter        53   3.99

In [2]:
staten_island = inventory.iloc[:10]
product_request = staten_island["product_description"]
product_request

0                         daisy
1                    calla lily
2                        tomato
3                          rake
4                   wheelbarrow
5                         spade
6                 insect killer
7                   weed killer
8    20 inch terracotta planter
9        8 inch plastic planter
Name: product_description, dtype: object

In [3]:
seed_request = inventory[(inventory["location"] == "Brooklyn") & (inventory["product_type"] == "seeds")]
seed_request

    location product_type product_description  quantity  price
10  Brooklyn        seeds               daisy        50   6.99
11  Brooklyn        seeds          calla lily         0  19.99
12  Brooklyn        seeds              tomato         0  13.99

In [4]:
inventory["in_stock"] = inventory["quantity"].apply(lambda x: True if x > 0 else False)
inventory["total_value"] = inventory.apply(lambda row: row["price"]*row["quantity"],axis=1 )
combine_lambda = lambda row: '{} - {}'.format(row.product_type, row.product_description)
inventory["full_description"] = inventory.apply(combine_lambda,axis=1)
inventory

,location,product_type,product_description,quantity,price,in_stock,total_value,full_description
0,Staten Island,seeds,daisy,4,6.99,True,27.96,seeds - daisy
1,Staten Island,seeds,calla lily,46,19.99,True,919.54,seeds - calla lily
2,Staten Island,seeds,tomato,85,13.99,True,1189.15,seeds - tomato
3,Staten Island,garden tools,rake,4,13.99,True,55.96,garden tools - rake
4,Staten Island,garden tools,wheelbarrow,0,89.99,False,0.00,garden tools - wheelbarrow
5,Staten Island,garden tools,spade,93,19.99,True,1859.07,garden tools - spade
6,Staten Island,pest_control,insect killer,74,12.99,True,961.26,pest_control - insect killer
7,Staten Island,pest_control,weed killer,8,23.99,True,191.92,pest_control - weed killer
8,Staten Island,planter,20 inch terracotta planter,0,17.99,False,0.00,planter - 20 inch terracotta planter
9,Staten Island,planter,8 inch plastic planter,53,3.99,True,211.47,planter - 8 inch plastic planter
10,Brooklyn,seeds,daisy,50,6.99,True,349.50,seeds - daisy
11,Brooklyn,seeds,calla lily,0,19.99,False,0.00,seeds - calla lily
12,Brooklyn,seeds,tomato,0,13.99,False,0.00,seeds - tomato
13,Brooklyn,garden tools,rake,15,13.99,True,209.85,garden tools - rake
14,Brooklyn,garden tools,wheelbarrow,82,89.99,True,7379.18,garden tools - wheelbarrow
15,Brooklyn,garden tools,spade,36,19.99,True,719.64,garden tools - spade
16,Brooklyn,pest_control,insect killer,80,12.99,True,1039.20,pest_control - insect killer
17,Brooklyn,pest_control,weed killer,76,23.99,True,1823.24,pest_control - weed killer
18,Brooklyn,planter,20 inch terracotta planter,5,17.99,True,89.95,planter - 20 inch terracotta planter
19,Brooklyn,planter,8 inch plastic planter,26,3.99,True,103.74,planter - 8 inch plastic planter
20,Queens,seeds,daisy,57,6.99,True,398.43,seeds - daisy
21,Queens,seeds,calla lily,95,19.99,True,1899.05,seeds - calla lily
22,Queens,seeds,tomato,45,13.99,True,629.55,seeds - tomato
23,Queens,garden tools,rake,21,13.99,True,293.79,garden tools - rake
24,Queens,garden tools,wheelbarrow,98,89.99,True,8819.02,garden tools - wheelbarrow
25,Queens,garden tools,spade,26,19.99,True,519.74,garden tools - spade
26,Queens,pest_control,insect killer,0,12.99,False,0.00,pest_control - insect killer
27,Queens,pest_control,weed killer,16,23.99,True,383.84,pest_control - weed killer
28,Queens,planter,20 inch terracotta planter,87,17.99,True,1565.13,planter - 20 inch terracotta planter