In [2]:
import pandas as pd

ad_clicks = pd.read_csv('ad_clicks.csv')
ad_clicks.head(5)

,user_id,utm_source,day,ad_click_timestamp,experimental_group
0,008b7c6c-7272-471e-b90e-930d548bd8d7,google,6 - Saturday,7:18,A
1,009abb94-5e14-4b6c-bb1c-4f4df7aa7557,facebook,7 - Sunday,NaN,B
2,00f5d532-ed58-4570-b6d2-768df5f41aed,twitter,2 - Tuesday,NaN,A
3,011adc64-0f44-4fd9-a0bb-f1506d2ad439,google,2 - Tuesday,NaN,B
4,012137e6-7ae7-4649-af68-205b4702169c,facebook,7 - Sunday,NaN,B

In [3]:
most_views = ad_clicks.groupby("utm_source").user_id.count().reset_index()
most_views

  utm_source  user_id
0      email      255
1   facebook      504
2     google      680
3    twitter      215

In [4]:
ad_clicks["is_click"] = ~ad_clicks.ad_click_timestamp.isnull()
ad_clicks.head(5)

,user_id,utm_source,day,ad_click_timestamp,experimental_group,is_click
0,008b7c6c-7272-471e-b90e-930d548bd8d7,google,6 - Saturday,7:18,A,True
1,009abb94-5e14-4b6c-bb1c-4f4df7aa7557,facebook,7 - Sunday,NaN,B,False
2,00f5d532-ed58-4570-b6d2-768df5f41aed,twitter,2 - Tuesday,NaN,A,False
3,011adc64-0f44-4fd9-a0bb-f1506d2ad439,google,2 - Tuesday,NaN,B,False
4,012137e6-7ae7-4649-af68-205b4702169c,facebook,7 - Sunday,NaN,B,False

In [5]:
clicks_by_source = ad_clicks.groupby(["utm_source", "is_click"]).user_id.count().reset_index()
clicks_by_source

  utm_source  is_click  user_id
0      email     False      175
1      email      True       80
2   facebook     False      324
3   facebook      True      180
4     google     False      441
5     google      True      239
6    twitter     False      149
7    twitter      True       66

In [6]:
clicks_pivot = clicks_by_source.pivot(columns = "is_click", index = "utm_source", values = "user_id").reset_index()
clicks_pivot["percent_clicked"] = clicks_pivot.apply(lambda row: row[True]/(row[True] + row[False]),axis = 1)
clicks_pivot

is_click utm_source  False  True  percent_clicked
0             email    175    80         0.313725
1          facebook    324   180         0.357143
2            google    441   239         0.351471
3           twitter    149    66         0.306977

In [7]:
abtest = ad_clicks.groupby(["experimental_group", "is_click"]).user_id.count().reset_index()
abtest

  experimental_group  is_click  user_id
0                  A     False      517
1                  A      True      310
2                  B     False      572
3                  B      True      255

In [8]:
abtest_pivot = abtest.pivot(columns = "is_click", index = "experimental_group", values = "user_id").reset_index()
abtest_pivot

is_click experimental_group  False  True
0                         A    517   310
1                         B    572   255

In [9]:
abtest_pivot["percent_clicked"] = abtest_pivot.apply(lambda row: row[True]/(row[True] + row[False]),axis = 1)
abtest_pivot

is_click experimental_group  False  True  percent_clicked
0                         A    517   310         0.374849
1                         B    572   255         0.308343

In [10]:
a_clicks = ad_clicks[ad_clicks.experimental_group == 'A']
b_clicks = ad_clicks[ad_clicks.experimental_group == 'B']

In [19]:
a_clicks.head(5)

,user_id,utm_source,day,ad_click_timestamp,experimental_group,is_click
0,008b7c6c-7272-471e-b90e-930d548bd8d7,google,6 - Saturday,7:18,A,True
2,00f5d532-ed58-4570-b6d2-768df5f41aed,twitter,2 - Tuesday,NaN,A,False
5,013b0072-7b72-40e7-b698-98b4d0c9967f,facebook,1 - Monday,NaN,A,False
6,0153d85b-7660-4c39-92eb-1e1acd023280,google,4 - Thursday,NaN,A,False
7,01555297-d6e6-49ae-aeba-1b196fdbb09f,google,3 - Wednesday,NaN,A,False

In [12]:
a_clicks2 = a_clicks.groupby(["day", "is_click"]).user_id.count().reset_index()
a_clicks2

              day  is_click  user_id
0      1 - Monday     False       70
1      1 - Monday      True       43
2     2 - Tuesday     False       76
3     2 - Tuesday      True       43
4   3 - Wednesday     False       86
5   3 - Wednesday      True       38
6    4 - Thursday     False       69
7    4 - Thursday      True       47
8      5 - Friday     False       77
9      5 - Friday      True       51
10   6 - Saturday     False       73
11   6 - Saturday      True       45
12     7 - Sunday     False       66
13     7 - Sunday      True       43

In [13]:
a_clicks2_pivot = a_clicks2.pivot(columns = "is_click", index = "day", values = "user_id").reset_index()
a_clicks2_pivot

is_click            day  False  True
0            1 - Monday     70    43
1           2 - Tuesday     76    43
2         3 - Wednesday     86    38
3          4 - Thursday     69    47
4            5 - Friday     77    51
5          6 - Saturday     73    45
6            7 - Sunday     66    43

In [14]:
a_clicks2_pivot["percent_clicked"] = a_clicks2_pivot.apply(lambda row: row[True]/(row[True] + row[False]),axis = 1)
a_clicks2_pivot

is_click            day  False  True  percent_clicked
0            1 - Monday     70    43         0.380531
1           2 - Tuesday     76    43         0.361345
2         3 - Wednesday     86    38         0.306452
3          4 - Thursday     69    47         0.405172
4            5 - Friday     77    51         0.398438
5          6 - Saturday     73    45         0.381356
6            7 - Sunday     66    43         0.394495

In [20]:
b_clicks.head(5)

,user_id,utm_source,day,ad_click_timestamp,experimental_group,is_click
1,009abb94-5e14-4b6c-bb1c-4f4df7aa7557,facebook,7 - Sunday,NaN,B,False
3,011adc64-0f44-4fd9-a0bb-f1506d2ad439,google,2 - Tuesday,NaN,B,False
4,012137e6-7ae7-4649-af68-205b4702169c,facebook,7 - Sunday,NaN,B,False
9,01a210c3-fde0-4e6f-8efd-4f0e38730ae6,email,2 - Tuesday,15:21,B,True
10,01adb2e7-f711-4ae4-a7c6-29f48457eea1,google,3 - Wednesday,NaN,B,False

In [16]:
b_clicks2 = b_clicks.groupby(["day", "is_click"]).user_id.count().reset_index()
b_clicks2

              day  is_click  user_id
0      1 - Monday     False       81
1      1 - Monday      True       32
2     2 - Tuesday     False       74
3     2 - Tuesday      True       45
4   3 - Wednesday     False       89
5   3 - Wednesday      True       35
6    4 - Thursday     False       87
7    4 - Thursday      True       29
8      5 - Friday     False       90
9      5 - Friday      True       38
10   6 - Saturday     False       76
11   6 - Saturday      True       42
12     7 - Sunday     False       75
13     7 - Sunday      True       34

In [17]:
b_clicks2_pivot = b_clicks2.pivot(columns = "is_click", index = "day", values = "user_id").reset_index()
b_clicks2_pivot

is_click            day  False  True
0            1 - Monday     81    32
1           2 - Tuesday     74    45
2         3 - Wednesday     89    35
3          4 - Thursday     87    29
4            5 - Friday     90    38
5          6 - Saturday     76    42
6            7 - Sunday     75    34

In [18]:
b_clicks2_pivot["percent_clicked"] = b_clicks2_pivot.apply(lambda row: row[True]/(row[True] + row[False]),axis = 1)
b_clicks2_pivot

is_click            day  False  True  percent_clicked
0            1 - Monday     81    32         0.283186
1           2 - Tuesday     74    45         0.378151
2         3 - Wednesday     89    35         0.282258
3          4 - Thursday     87    29         0.250000
4            5 - Friday     90    38         0.296875
5          6 - Saturday     76    42         0.355932
6            7 - Sunday     75    34         0.311927