In [61]:
import pandas as pd

Import all the files

In [62]:
visits = pd.read_csv('visits.csv',
                     parse_dates=[1])
cart = pd.read_csv('cart.csv',
                   parse_dates=[1])
                   
checkout = pd.read_csv('checkout.csv',
                       parse_dates=[1])
purchase = pd.read_csv('purchase.csv',
                       parse_dates=[1])

Step 1: Inspect the DataFrames using `print` and `head`

In [75]:
print(visits.head())
print(cart.head())
print(checkout.head())
print(purchase.head())

                                user_id          visit_time
0  943647ef-3682-4750-a2e1-918ba6f16188 2017-04-07 15:14:00
1  0c3a3dd0-fb64-4eac-bf84-ba069ce409f2 2017-01-26 14:24:00
2  6e0b2d60-4027-4d9a-babd-0e7d40859fb1 2017-08-20 08:23:00
3  6879527e-c5a6-4d14-b2da-50b85212b0ab 2017-11-04 18:15:00
4  a84327ff-5daa-4ba1-b789-d5b4caf81e96 2017-02-27 11:25:00
                                user_id           cart_time
0  2be90e7c-9cca-44e0-bcc5-124b945ff168 2017-11-07 20:45:00
1  4397f73f-1da3-4ab3-91af-762792e25973 2017-05-27 01:35:00
2  a9db3d4b-0a0a-4398-a55a-ebb2c7adf663 2017-03-04 10:38:00
3  b594862a-36c5-47d5-b818-6e9512b939b3 2017-09-27 08:22:00
4  a68a16e2-94f0-4ce8-8ce3-784af0bbb974 2017-07-26 15:48:00
                                user_id       checkout_time
0  d33bdc47-4afa-45bc-b4e4-dbe948e34c0d 2017-06-25 09:29:00
1  4ac186f0-9954-4fea-8a27-c081e428e34e 2017-04-07 20:11:00
2  3c9c78a7-124a-4b77-8d2e-e1926e011e7d 2017-07-13 11:38:00
3  89fe330a-8966-4756-8f7c-3bdbcd47279a 2017-04-20 16:15:00
4  3ccdaf69-2d30-40de-b083-51372881aedd 2017-01-08 20:52:00
                                user_id       purchase_time
0  4b44ace4-2721-47a0-b24b-15fbfa2abf85 2017-05-11 04:25:00
1  02e684ae-a448-408f-a9ff-dcb4a5c99aac 2017-09-05 08:45:00
2  4b4bc391-749e-4b90-ab8f-4f6e3c84d6dc 2017-11-20 20:49:00
3  a5dbb25f-3c36-4103-9030-9f7c6241cd8d 2017-01-22 15:18:00
4  46a3186d-7f5a-4ab9-87af-84d05bfd4867 2017-06-11 11:32:00

Step 2: Left merging visits and cart

In [64]:
l_m_visits_cart = pd.merge(visits, cart, how="left")
l_m_visits_cart

,user_id,visit_time,cart_time
0,943647ef-3682-4750-a2e1-918ba6f16188,2017-04-07 15:14:00,NaT
1,0c3a3dd0-fb64-4eac-bf84-ba069ce409f2,2017-01-26 14:24:00,2017-01-26 14:44:00
2,6e0b2d60-4027-4d9a-babd-0e7d40859fb1,2017-08-20 08:23:00,2017-08-20 08:31:00
3,6879527e-c5a6-4d14-b2da-50b85212b0ab,2017-11-04 18:15:00,NaT
4,a84327ff-5daa-4ba1-b789-d5b4caf81e96,2017-02-27 11:25:00,NaT
...,...,...,...
1995,33913ac2-03da-45ae-8fc3-fea39df827c6,2017-03-25 03:29:00,NaT
1996,4f850132-b99d-4623-80e6-6e61d003577e,2017-01-08 09:57:00,NaT
1997,f0830b9b-1f5c-4e74-b63d-3f847cc6ce70,2017-09-07 12:56:00,NaT
1998,b01bffa7-63ba-4cd3-9d93-eb1477c23831,2017-07-20 04:37:00,NaT
1999,0336ca81-8d68-443f-9248-ac0b8ad147d5,2017-11-15 10:11:00,NaT

Step 3: How long is "l_m_visits_card?

In [65]:
len(l_m_visits_cart)

2000

Step 4: How many timestamps are null for `cart_time`?

In [66]:
no_null = l_m_visits_cart.cart_time.count()
n_null = 2000 - no_null
n_null

1652

Step 5: What percentage only visited?

In [67]:
only_visited = 1652/2000*100
only_visited

82.6

Step 6: What percentage placed a t-shirt in their cart but did not checkout?

In [68]:
l_m_cart_checkout = pd.merge(cart, checkout, how="left")
no_null = l_m_cart_checkout.checkout_time.count()
n_null = 348 - no_null
placed_no_checkout = n_null/348*100
placed_no_checkout

35.05747126436782

Step 7: Merge it all together

In [69]:
all_merged = visits.merge(cart).merge(checkout).merge(purchase)
all_merged

,user_id,visit_time,cart_time,checkout_time,purchase_time
0,0c3a3dd0-fb64-4eac-bf84-ba069ce409f2,2017-01-26 14:24:00,2017-01-26 14:44:00,2017-01-26 14:54:00,2017-01-26 15:08:00
1,486480e2-98c3-4d51-8f4b-b1c07228ce84,2017-01-27 16:34:00,2017-01-27 16:44:00,2017-01-27 17:10:00,2017-01-27 17:12:00
2,3ccdaf69-2d30-40de-b083-51372881aedd,2017-01-08 20:21:00,2017-01-08 20:38:00,2017-01-08 20:52:00,2017-01-08 21:02:00
3,3ccdaf69-2d30-40de-b083-51372881aedd,2017-01-08 20:21:00,2017-01-08 20:38:00,2017-01-08 20:52:00,2017-01-08 21:21:00
4,ab0125fc-9493-4f59-ad70-24ad264a3a0c,2017-11-18 03:21:00,2017-11-18 03:33:00,2017-11-18 03:57:00,2017-11-18 04:21:00
...,...,...,...,...,...
247,d2cb350b-2201-4290-b2e0-84a8bf0d6883,2017-08-08 16:05:00,2017-08-08 16:07:00,2017-08-08 16:34:00,2017-08-08 16:34:00
248,f46c88d0-2441-40a8-97fe-6841ff6f050d,2017-09-06 08:42:00,2017-09-06 09:02:00,2017-09-06 09:22:00,2017-09-06 09:28:00
249,f783c680-1d9a-437d-9f45-7827299b78fa,2017-06-25 08:07:00,2017-06-25 08:08:00,2017-06-25 08:28:00,2017-06-25 08:39:00
250,f783c680-1d9a-437d-9f45-7827299b78fa,2017-06-25 08:07:00,2017-06-25 08:08:00,2017-06-25 08:28:00,2017-06-25 08:35:00
251,f783c680-1d9a-437d-9f45-7827299b78fa,2017-06-25 08:07:00,2017-06-25 08:08:00,2017-06-25 08:28:00,2017-06-25 08:18:00

Step 8: % of users who got to checkout but did not purchase

In [70]:
l_m_checkout_purchase = pd.merge(checkout, purchase, how="left")
no_null = l_m_checkout_purchase.purchase_time.count()
n_null = 334 - no_null
checkout_no_purchase = n_null/334*100
checkout_no_purchase

24.550898203592812

Step 9: check each part of the funnel, let's print all 3 of them again

In [71]:
print(("{} % only visited").format(round(only_visited)))
print(("{} % placed but not checkout").format(round(placed_no_checkout)))
print(("{} % checkout but not purchased").format(round(checkout_no_purchase)))

83 % only visited
35 % placed but not checkout
25 % checkout but not purchased

The weakest part of the funnel is clearly getting a person who visited the site to add a tshirt to their cart. Once they've added a t-shirt to their cart it is fairly likely they end up purchasing it. A suggestion could be to make the add-to-cart button more prominent on the front page.


Step 10: adding new column

In [72]:
all_merged["full_time"] = all_merged["purchase_time"] -all_merged["visit_time"]
all_merged

,user_id,visit_time,cart_time,checkout_time,purchase_time,full_time
0,0c3a3dd0-fb64-4eac-bf84-ba069ce409f2,2017-01-26 14:24:00,2017-01-26 14:44:00,2017-01-26 14:54:00,2017-01-26 15:08:00,0 days 00:44:00
1,486480e2-98c3-4d51-8f4b-b1c07228ce84,2017-01-27 16:34:00,2017-01-27 16:44:00,2017-01-27 17:10:00,2017-01-27 17:12:00,0 days 00:38:00
2,3ccdaf69-2d30-40de-b083-51372881aedd,2017-01-08 20:21:00,2017-01-08 20:38:00,2017-01-08 20:52:00,2017-01-08 21:02:00,0 days 00:41:00
3,3ccdaf69-2d30-40de-b083-51372881aedd,2017-01-08 20:21:00,2017-01-08 20:38:00,2017-01-08 20:52:00,2017-01-08 21:21:00,0 days 01:00:00
4,ab0125fc-9493-4f59-ad70-24ad264a3a0c,2017-11-18 03:21:00,2017-11-18 03:33:00,2017-11-18 03:57:00,2017-11-18 04:21:00,0 days 01:00:00
...,...,...,...,...,...,...
247,d2cb350b-2201-4290-b2e0-84a8bf0d6883,2017-08-08 16:05:00,2017-08-08 16:07:00,2017-08-08 16:34:00,2017-08-08 16:34:00,0 days 00:29:00
248,f46c88d0-2441-40a8-97fe-6841ff6f050d,2017-09-06 08:42:00,2017-09-06 09:02:00,2017-09-06 09:22:00,2017-09-06 09:28:00,0 days 00:46:00
249,f783c680-1d9a-437d-9f45-7827299b78fa,2017-06-25 08:07:00,2017-06-25 08:08:00,2017-06-25 08:28:00,2017-06-25 08:39:00,0 days 00:32:00
250,f783c680-1d9a-437d-9f45-7827299b78fa,2017-06-25 08:07:00,2017-06-25 08:08:00,2017-06-25 08:28:00,2017-06-25 08:35:00,0 days 00:28:00
251,f783c680-1d9a-437d-9f45-7827299b78fa,2017-06-25 08:07:00,2017-06-25 08:08:00,2017-06-25 08:28:00,2017-06-25 08:18:00,0 days 00:11:00

Step 11: examine the results

In [73]:
all_merged.full_time.mean()

Timedelta('0 days 00:43:12.380952380')